<!DOCTYPE HTML>
<html>
	<head>
		<% include bootstrap %>
		<link type="text/css" rel= "stylesheet" href="/stylesheets/global.css">
		<link type="text/css" rel= "stylesheet" href="/stylesheets/notifications.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>
	</head>
	
	<body>
		<% include nav_logged %>

		<div class="container">
			<div class="header_container">
				<div class="d-flex align-items-center flex-wrap justify-content-between">
					<div>
						<input id="selection_box" type="checkbox" class="header_component">
						<div id="btn_drop_down" class="dropdown">
							<button class="dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								
							</button>
							<div class="dropdown-menu" aria-labelledby="dropdownMenu2">
								<button id="btn_group_delete" class="dropdown-item" type="button">Delete</button>
								<button id="btn_group_mark_read" class="dropdown-item" type="button">Mark as read</button>
								<button id="btn_group_mark_unread" class="dropdown-item" type="button">Mark as unread</button>
							</div>
						</div>
					</div>
					<nav aria-label="Page navigation example" class="pagination-sm">
							<ul class="pagination">
								<li class="page-item">
								<a class="page-link" href="#" aria-label="Previous">
									<span aria-hidden="true">&laquo;</span>
									<span class="sr-only">Previous</span>
								</a>
								</li>
								<li class="page-item"><a class="page-link" href="#">1</a></li>
								<li class="page-item"><a class="page-link" href="#">2</a></li>
								<li class="page-item"><a class="page-link" href="#">3</a></li>
								<li class="page-item">
								<a class="page-link" href="#" aria-label="Next">
									<span aria-hidden="true">&raquo;</span>
									<span class="sr-only">Next</span>
								</a>
								</li>
							</ul>
						</nav>
				</div>
			</div>
			
			<ul id="notifications_list">
				<%if (notifications.length === 0) { %>
					<div>No notifications</div>
				<% } %>

				<% notifications.forEach(function(notification) { %>
					<li class="row single_notification_container
							<%if (notification.isUnread) { %>
								unread
							<% } %> ${attached_class}"
						data-notification-id="<%= notification._id %>">
						<input type="checkbox" class="notification_checkbox">
						<div class="col-sm-3 name_div text-truncate"><%= notification.name %></div>
						<div class="col-sm-6 text-truncate p-0 notification_msg"><%= notification.message %></div>
						
						<% 
						var date = new Date(notification.timestamp);
						
						var month = date.getMonth() +1;
						var day = date.getDate();
						var year = date.getFullYear();
						var hour = date.getHours();
						var minute = date.getMinutes();
						var ampm = hour >= 12 ? 'PM' : 'AM';
						
						var formatted_time = hour%12 + ":" + minute + ampm;
						var formatted_date = month + "/" + day + "/" + year;		
						%>
						<div class="col-sm-1 text-right p-0">
							<%= formatted_time %>
						</div>
						<div class="col-sm-1">
							<%= formatted_date %>
						</div>
                	</li>
				<% }); %>
			</ul>
		</div>
		
	</body>
</html>
<script src="/client-js/global_constants.js"></script>
<script>
	var page = PAGE.undefined; //Case we want to add special page specific socket feature
    var self_id = "<%= user._id %>";
    var self_name = "<%= user.firstName %>" + " " + "<%= user.lastName %>";
</script>
<script src="/client-js/global_logged.js"></script>
<script src="/client-js/notifications.js"></script>