<!DOCTYPE HTML>
<html>
	<head>
		<link type="text/css" rel= "stylesheet" href="/stylesheets/global.css">
		<link type="text/css" rel= "stylesheet" href="/stylesheets/profile.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	</head>
	
	<body>
		<% include header_navs.html %>
		<div class="profile_container">
			<div class="user_photo_container">
				<h1 class="user_name"><%= user.firstName + "" + user.lastName %></h1>
				<img class="user_photo" src="/images/logo.jpg"/>
			</div>
			<button id="btn_add_friend" type="submit">Add Friend</button>

			<h3 class = "header_for_textarea">Description</h3>
			<p class ="info"><%= user.description %></p>
			
			<h3 class = "header_for_textarea">Tags</h3>
			<p class ="info"><% user.tags.forEach(function(tag) { %>
				<div>
					<%= tag %>
				</div>
			<% }); %>
			</p>
			
			<h3 class = "header_for_textarea">Education</h3>
			<p class ="info"><%= user.education %></p>
			
			<h3 class = "header_for_textarea">Location (City)</h3>
			<p class ="info"><%= user.city %></p>
			
		</div>
	</body>
</html>
<script src="/client-js/other_profile.js"></script>