<!DOCTYPE HTML>
<html>
	<head>
		<link type="text/css" rel= "stylesheet" href="/stylesheets/global.css">
		<link type="text/css" rel= "stylesheet" href="/stylesheets/profile.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	</head>
	
	<body>
		<% include header_navs.html %>
		<%
		var firstName = user.firstName?user.firstName:"[firstPlaceHolder]";
		var lastName = user.lastName?user.lastName:"[lastPlaceHolder]";
		var entireName = firstName + " " + lastName;
		var photoURL = user.photoURL?user.photoURL:"[photoPlaceHolder]";
		var description = user.description?user.description:"[descriptPlaceHolder]";
		var education = user.education?user.education:"[educationPlaceHolder]";
		var city = user.city?user.city:"[cityPlaceHolder]";
		var tags = user.tags?user.tags:[];
		%>

		<div class="profile_container">
			<div class="user_photo_container">
				<h1 class="user_name"><%= entireName %></h1>
				<img class="user_photo" src="<%= photoURL %>"
			</div>
			<button id="btn_add_friend" class="add-mode" value="<%= user._id %>" type="submit">Add Friend</button>

			<h3 class = "header_for_textarea">Description</h3>
			<p class ="info"><%= description %></p>
			
			<h3 class = "header_for_textarea">Tags</h3>
			<p class ="info"><% tags.forEach(function(tag) { %>
				<div>
					<%= tag %>
				</div>
			<% }); %>
			</p>
			
			<h3 class = "header_for_textarea">Education</h3>
			<p class ="info"><%= education %></p>
			
			<h3 class = "header_for_textarea">Location (City)</h3>
			<p class ="info"><%= city %></p>
			
		</div>
	</body>
</html>
<script src="/client-js/other_profile.js"></script>