<!DOCTYPE HTML>
<html>
	<head>
		<link type="text/css" rel= "stylesheet" href="/stylesheets/global.css">
		<link type="text/css" rel= "stylesheet" href="/stylesheets/profile.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	</head>
	
	<body>
		<% include header_navs.html %>
		<div class="profile_container">
			<h1 class="title">
				Profile
			</h1>
			<div class = "user_photo_container">
				<h1 class = "user_name"><%= users[0].firstName + "" + users[0].lastName %></h1>
				<img class= "user_photo" src="./img/logo.jpg"/>
			</div>
			<form action = "connect.html">
				<input class = "btn_connect" type = "submit" value = "Connect/Invite">
			</form>

			<% if(users.length > 0){ %>
				<h3 class = "header_for_textarea">Description</h3>
				<p class ="info"><%= users[0].description %></p>
				
				<h3 class = "header_for_textarea">Tags</h3>
				<p class ="info"><% users[0].tags.forEach(function(tag) { %>
					<div>
						<%= tag %>
					</div>
				<% }); %>
				</p>
				
				<h3 class = "header_for_textarea">Education</h3>
				<p class ="info"><%= users[0].education %></p>
				
				<h3 class = "header_for_textarea">Location (City)</h3>
				<p class ="info"><%= users[0].city %></p>
			<% } %>
		</div>

		<div id="matched_users_container" class="other_users_list_container">
			<h2>Related Matches:</h2>
			<% users.forEach(function(user) { %>
				<div class="other_user_container">
					<a href="#" class="other_user_name">
						<%= user.firstName + " " + user.lastName %></a>
					<img class="other_user_img" src="/images/logo.jpg" href="#">
				</div>
			<% }); %>

			<!-- AJAX fills this spot with database-->
		</div>
	</body>
</html>
<script src="client-js/other_profile.js"></script>